[submodule "src/third_party/blend2d"]
	path = src/third_party/blend2d
	url = https://github.com/blend2d/blend2d
[submodule "src/third_party/asmjit"]
	path = src/third_party/asmjit
	url = https://github.com/asmjit/asmjit
